@use "button-font" as *;
@use "button-size" as *;

.footer-button {
    @include font;
    @include size;
  color: white;
  border: 3px solid #fff;
  background-color: #FB7852;
  width: $width;
  height: $height;
  border-radius: $radius;
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

.btn-primary {
  color: white;
  border: 3px solid #FB7852;
  background: #FB7852;
  height: $height;
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  margin: 40px 0
}

.outlined-button {
color: #FB7852;
border: 3px solid #FB7852;
background-color: #fff;
width: $width;
height: $height;
border-radius: $radius;
font-family: $family;
font-weight: $weight;
font-size: $size;
}