nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Open Sans";
    ul {
        display: flex;
        justify-content: space-around;
        width: 30%;
        li {
            list-style: none;
            a {
                color: #79706E;
                text-decoration: none;
            }
        }
    }
    .searchbar {
        border: 1px solid grey;
        width: 30%;
        border-radius: 50px;
        // .search-icon {
        //     position: absolute;
        //     top: 8px;
        //     left: 8px;
        //     width: 14px;
        // }
    }
}